{% extends 'master.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mx-auto mt-4">
            <div class="card-header">Person</div>
            <div class="card-body">
                <form action="{{ url('person_insert') }}" method="post" >
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="exampleInputName">Name</label>
                                <input class="form-control" type="text" value="{{ person.name }}" name="name" placeholder="Enter name">
                                <p class="text-danger" >{{ error_name }}</p>
                            </div>
                            <div class="col-md-4">
                                <label for="exampleInputLastName">Birth Date</label>
                                <input class="form-control" value="{{ person.birthDate|date('Y-m-d')   }}" name="birthDate" type="date" />
                                <p class="text-danger" >{{ error_birthDate }}</p>
                            </div>
                            <input type="hidden" name="id" value="{{ person.id }}" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save New Person...</button>
                </form>
            </div>
        </div>
        <div class="card mx-auto mt-4">
            <div class="card-header">All Persons</div>
            <div class="card-body">
                <form action="{{ url('person_search') }}" method="get" >
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-10">
                                <input class="form-control" type="text" value="{{ filter }}"
                                       name="filter"
                                       placeholder="Enter name or birth date">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-block">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th style="text-align: right" >Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for person in persons %}
                        <tr>
                            <td>{{ person.name }}</td>
                            <td>{{ person.birthDate|date('Y-m-d') }}</td>
                            <td style="text-align: right" >
                                <a href="{{ url('person_edit', { id : person.id }) }}" class="btn btn-sm btn-primary  p ull-right ">Edit</a>
                                <a href="{{ url('person_remove', { id : person.id }) }}" class="btn btn-sm btn-danger pull-right">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}