<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CONDENGAGE@TEST</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('/css/shop-item.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url('home_page') }}">ramonCosta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  href="https://twitter.com/rmncst">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/">facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/ramon-costa-5181315b/">Linkedin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:rmncst16@gmail.com">rmncst16@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">
                Menu
            </h1>
            <div class="list-group" style="min-height: 400px;" >
                <a href="{{ url('person_index') }}" class="list-group-item">Person</a>
                <a href="{{ url('product_index') }}" class="list-group-item">Product</a>
                <a href="{{ url('sale_index') }}" class="list-group-item">New Sale</a>
                <a href="{{ url('sale_list') }}" class="list-group-item">All Sales</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            {% for alert in app.session.flashbag.get('success') %}
                <hr>
                <div class="alert alert-success">
                    <p class="text-success">
                        {{ alert }}
                    </p>
                </div>
                <br>
            {% endfor %}
            {% for alert in app.session.flashbag.get('danger') %}
                <hr>
                <div class="alert alert-danger">
                    <p class="text-danger">
                        {{ alert }}
                    </p>
                </div>
                <br>
            {% endfor %}

            {% block content %}


            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    My Sales Test
                </div>
                <div class="card-body">
                    <p>
                        This is a fake app to Codengage test
                    </p>
                    <small class="text-muted">Posted by Ramon Costa on 14/12/17</small>
                    <hr>
                </div>
            </div>
            <!-- /.card -->

            {% endblock %}

        </div>
        <!-- /.col-lg-9 -->
    </div>

</div>
<!-- /.container -->
<hr>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Processo Seletivo Codengage 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('/assets/js/bootstrap.bundle.min.js') }}"></script>

{% block scripts %}

{% endblock %}
</body>

</html>