{% extends 'master.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mx-auto mt-4">
                <div class="card-header">Sales</div>
                <div class="card-body">
                    <form action="{{ url('sale_insert') }}" method="post" >
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="exampleInputName">Select a client</label>
                                    <select name="client" class="form-control" >
                                        <option value="">Select an option</option>
                                        {% for cli in persons %}
                                            <option value="{{ cli.id }}">{{ cli.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <p class="text-danger" >{{ error_client}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="exampleInputName">Date Sale</label>
                                    <input type="text" disabled value="{{ date|date() }}" class="form-control">
                                    <p class="text-danger" >{{ error_code }}</p>
                                </div>
                                <div class="col-md-4"> </div>
                                <div class="col-md-4">
                                    <label for="exampleInputName">Total Sale</label>
                                    <input type="text" id="total-sale" disabled value="0" class="form-control">
                                    <p class="text-danger" >{{ error_code }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="items">
                            {#Content put here#}
                        </div>
                        <div class="form-group " >
                            <div class="form-row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" id="btn-add" >
                                        Add Item
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Save New sale...</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            addItemSale();
            
            $('#btn-add').click(function () {
                addItemSale();
            })

            bindEventSelectProducts();
        })


        function addItemSale() {

            $.ajax({
                url:'/sale/item-sale',
                method: 'GET',
                success: function(data){
                    $(data).appendTo('#items');
                    bindEventSelectProducts();
                }
            });
        }

        function bindEventSelectProducts() {

            $('.select-item').change(function () {
                var id = $(this).prop('id');
                var value = $(this).val();
                var optId = '#opt-' + id + '-' + value;
                var unitPrice = $(optId).attr('data-price');
                //$('#subtotal-' + id).val(unitPrice);

                updateSubTotal(id,unitPrice);
                console.log(unitPrice);
            })

            $('.item-count').blur(function () {
                var hash = $(this).attr('data-hash');
                $('#' + hash).trigger('change')
            })

            $('.item-discount').blur(function () {
                var hash = $(this).attr('data-hash');
                $('#' + hash).trigger('change')
            })
        }
        
        function updateSubTotal(hash, unitPrice) {
            var count = $('#count-' + hash).val();
            var discount = $('#discount-' + hash).val();
            discount = discount / 100;
            $('#subtotal-' + hash).val(count * unitPrice * (1 - discount));
            updateTotal();
        }

        function updateTotal() {
            var total = 0;
            $('.item-subtotal').each(function () {
                total += parseFloat($(this).val());
            })
            $('#total-sale').val(total);
        }
    </script>

{% endblock %}